

                <div class="blog-outer">
                    {{ content.field_image }}
                    <div class="blog-inner">
                        {{ node.title.value }} 
                        {{ content.field_article_date }}
                        {{ content.body }}
                        {{ content.field_article_link }}
                    </div>
                </div>
          



