<div class="single-blog-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 outer-pad">
                <div class="blog-outer">
                    {{ content.field_image }}
                    <div class="blog-inner">
                        <h2>{{ node.title.value }}</h2>
                        {{ content.body }}
                        {{ content.field_article_date }}
                        {{ content.field_article_link }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


          



